header{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 5% 8%;
}
.hero_content{
    width: 100%;
    display: flex;
    flex-direction: column;
}

.hero_title{
    font-size: 16.5rem;
    line-height: 11rem;
    font-weight: 500;
    font-family: var(--Anton-font);
}

.hero_title span{
    font-family: var(--Anton-font);
    color: var(--primary-color);
}

.hero_boxs{
    width: 100%;
    display:flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 50px;
}

.hero_boxs p{
    font-size: 1rem;
    font-weight: 500;
    color: var(--light-text);
}

.hero_social{
    display: flex;
    align-items: center;
    gap: 10px;
}

.hero_social i{
    font-size: 1.5rem;
    color: var(--light-text);
    transition: var(--transition);
}

.hero_social i:hover{
    color: var(--primary-color);
    cursor: pointer;
}

.hero_bottom{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
}

.hero_bottom_content{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 20px;
}

.hero_bottom_content h2{
    font-size: 6rem;
    line-height: 6rem;
    font-family: var(--Anton-font);
    font-weight: 500;
}

.hero_bottom_content p{
    width: 90%;
    font-size: 1.2rem;
    font-weight: 500;
    line-height: 2rem;
    color: var(--light-text);
}

.hero_img{
    width: 50%;
    animation: Anim_top_bottom 5s infinite linear;
}

.hero_img img{
    width: 80%;
    object-fit: contain;
}

.shape{
    position: absolute;
    top:80%;
    left: 70%;
    transform: translate(-50%, -50%);
    width: 300px;
    height: 300px;
    background-color: var(--primary-color);
    filter: blur(200px);
    z-index: -1;
}
.shape2{
    position: absolute;
    top:30%;
    left: 1%;
    transform: translate(-50%, -50%);
    width: 300px;
    height: 300px;
    background-color: var(--primary-color);
    filter: blur(250px);
    z-index: -1;
}

@keyframes Anim_top_bottom{
    0%{
        transform: translateY(-20px);
    }
    50%{
        transform: translateY(0px);
    }
    100%{
        transform: translateY(-20px);
    }
}

@media (max-width: 1400px) {
     .hero_title{
         font-size: 11.2rem;
     }

     .hero_bottom_content h2{
         font-size: 5rem;
     }

     .hero_img img{
         width: 100%;
     }
}

@media (max-width: 1200px) {
  .hero_title {
    font-size: 1rem;
  }

  .hero_bottom_content h2 {
    font-size: 4rem;
    line-height: 4rem;
  }

  .hero_bottom_content p {
    font-size: 1rem;
    line-height: 1.5rem;
  }
}

@media (max-width: 900px) {
  .hero_title {
    font-size: 7rem;
    line-height: 8rem;
  }

  .hero_bottom {
    flex-direction: column;
  }

  .hero_bottom_content,
  .hero_img {
    width: 100%;
  }

  .shape {
    top: 130%;
    left: 50%;
  }
}

@media (max-width:500px){
  .hero_title {
    font-size: 3rem;
  }
  .hero_bottom_content h2 {
    font-size: 3rem;
    line-height: 3.5rem;
  }

  .hero_bottom_content p {
    width: 100%;
    font-size: 1rem;
    font-weight: 500;
  }

  .hero_content .hero_title span{
    
    line-height: 4.5rem;
  }

  .hero_boxs {
    margin-top: 10px;
  }
  .hero_boxs p {
    font-size: 0.9rem;
  }

  .shape {
    top: 90%;
    left: 50%;
    width: 200px;
    height: 200px;
  }
}