.copyright{
    padding: 1% 8%;
    background-color: var(--bg-color);
}

.copyright p{
    font-size: 1.2rem;
    font-weight: 400;
    color: var(--extra-light-text);
}

.copyright p a{
    color: var(--white-color);
    transition: var(--transition);
}

.copyright p a:hover{
    color: var(--primary-color);
}

@media (max-width:500px) {
    .copyright p{
        text-align: center;
    }
}